:root {
    --title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --bg-color: #2F303A;
}

/* add font'Raleway'; */

@font-face {
    font-family: "Raleway";
    src:
        url("/fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
        url("/fonts/Raleway/Raleway-Bold.woff") format("woff");
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: var(--title-color);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.subtitle {
    color: var(--title-color);
}

/* header */

.header-page {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;

    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo span {
    color: var(--accent-color);
}

.header-menu {
    display: flex;
    padding: 0;
    
    margin-left: 93px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav .menu-link {
    color: var(--title-color);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;

    display: block;
    padding: 20px 0;
}

.header-contacts {
    margin-left: auto;
    display: flex;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts .contacts-link {
    color: var(--main-text-color);

    display: block;
    padding: 20px 0;
}

.header-nav .menu-link:hover, .contacts-link:hover  {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-color: var(--bg-color);
}

.hero-title {
    color: #fff;

    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    color: #fff;
    background: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    cursor: pointer;

    padding: 10px 32px;

    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


/* advantages */

.advantages-subtitle {
    color: var(--title-color);

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--main-text-color);


    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* team */

.team-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.team-descr {
    color: var(--main-text-color);

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

/* footer */

footer {
    background: var(--bg-color);
}

.footer-logo {
    color: #fff;
}

.footer-adress {
    color: #fff;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.adress-item {
    color: rgba(255, 255, 255, 0.60);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* gallery */

.gallery-text {
    color: var(--main-text-color);
}