:root {
    --title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --bg-color: #2F303A;
    --bg-gray: #F5F4FA;
}

/* add font'Raleway'; */

@font-face {
    font-family: "Raleway";
    src:
        url("/fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
        url("/fonts/Raleway/Raleway-Bold.woff") format("woff");
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: var(--title-color);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.subtitle {
    color: var(--title-color);
}

/* header */

header {
    padding: 5px 0;
    border-bottom: 1px solid #ECECEC;
}

.header-page {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;

    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo span {
    color: var(--accent-color);
}

.header-menu {
    display: flex;
    padding: 0;

    margin-left: 93px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav .menu-link {
    color: var(--title-color);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;

    display: block;
    padding: 20px 0;
}

.header-contacts {
    margin-left: auto;
    display: flex;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts .contacts-link {
    color: var(--main-text-color);

    display: block;
    padding: 20px 0;
}

.contacts-mail::before {
    content: "";
    background-image: url(../images/ico/envelope.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
}

.contacts-tel::before {
    content: "";
    background-image: url(../images/ico/tel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    display: inline-block;
}

.header-nav .menu-link:hover, .contacts-link:hover  {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}

.hero-title {
    color: #fff;

    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.hero-button {
    color: #fff;
    background: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    cursor: pointer;

    padding: 10px 32px;
    display: block;
    margin: 0 auto;

    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


/* advantages */

.advantages {
    padding: 94px 0;
}

.advantages-title.title {
    visibility: hidden;
}

.advantages-list {
    display: flex;
}

.advantages-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-item::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #F5F4FA;
}

.ico-scope::before {
    background-image: url('../images/ico/telescope.png');
    background-repeat: no-repeat;
    background-position: center;
}

.ico-time::before {
    background-image: url('../images/ico/time.png');
    background-repeat: no-repeat;
    background-position: center;
}

.ico-graph::before {
    background-image: url('../images/ico/graph.png');
    background-repeat: no-repeat;
    background-position: center;
}

.ico-space::before {
    background-image: url('../images/ico/space.png');
    background-repeat: no-repeat;
    background-position: center;
}

.advantages-subtitle {
    color: var(--title-color);

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--main-text-color);


    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* activities */

.activities {
    padding-bottom: 94px;
}

.activities-title {
    margin-bottom: 50px;
}

.activities-list {
    display: flex;
    
}

.activities-item {
    width: 370px;
}

.activities-item:not(:last-child) {
    margin-right: 30px;
}

.activities-image {
    width: 100%;
}

/* team */

.team {
    background: var(--bg-gray);
    padding: 94px 0;
}

.team-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-item {
    padding-bottom: 30px;
    background: #fff;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-photo {
    margin-bottom: 30px;
}

.team-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;

    margin-bottom: 10px;
}

.team-descr {
    color: var(--main-text-color);

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;

    margin-bottom: 16px;
}

.team-links {
    display: flex;
    justify-content: center;
}

.team-social {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.team-social:not(:last-child) {
    margin-right: 10px;
}

.team-inst::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/ico/inst.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.team-twitter::before {
    content: '';
    display: block;
    width: 20px;
    height: 17px;
    background-image: url('../images/ico/twitter.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.team-facebook::before {
    content: '';
    display: block;
    width: 10px;
    height: 20px;
    background-image: url('../images/ico/facebook.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.team-linkedin::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/ico/linkedin.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.team-social:hover {
    background-color: var(--accent-color);
}

.team-social:hover.team-inst::before {
    background-image: url('../images/ico/footer-inst.png');
}

.team-social:hover.team-twitter::before {
    background-image: url('../images/ico/footer-twitter.png');
}

.team-social:hover.team-facebook::before {
    background-image: url('../images/ico/footer-facebook.png');
}

.team-social:hover.team-linkedin::before {
    background-image: url('../images/ico/footer-linkedin.png');
}

/* clients */

.clients {
    padding: 50px 0 156px 0;
}

.clients-title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item::before {
    content: '';
    display: block;
    width: 170px;
    height: 93px;
}

.yaco::before {
    background-image: url('../images/logo/client1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.tagline::before {
    background-image: url('../images/logo/tagline.png');
    background-repeat: no-repeat;
    background-position: center;
}

.company::before {
    background-image: url('../images/logo/company.png');
    background-repeat: no-repeat;
    background-position: center;
}

.foster::before {
    background-image: url('../images/logo/foster.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brand::before {
    background-image: url('../images/logo/brand.png');
    background-repeat: no-repeat;
    background-position: center;
}

.tagline2::before {
    background-image: url('../images/logo/tagline2.png');
    background-repeat: no-repeat;
    background-position: center;
}




/* footer */

footer {
    background: var(--bg-color);
    padding: 60px 0;
}

.footer-content {
    display: flex;
    align-items: top;
}

.footer-info {
    margin-right: 70px;
}

.footer-logo {
    color: #fff;

    display: block;
    margin-bottom: 20px;
}

.footer-adress {
    color: #fff;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.adress-descr {
    margin-bottom: 9px;
}

.adress-item {
    color: rgba(255, 255, 255, 0.60);

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

    display: block;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.social-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-item {
    background-color: rgba(255, 255, 255, 0.10);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-item::before {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.social-item:hover {
    background-color: var(--accent-color);
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-item.social-inst::before {
    background-image: url(../images/ico/footer-inst.png);
}

.social-item.social-twitter::before {
    background-image: url(../images/ico/footer-twitter.png);
}

.social-item.social-facebook::before {
    background-image: url(../images/ico/footer-facebook.png);
}

.social-item.social-linkedin::before {
    background-image: url(../images/ico/footer-linkedin.png);
}