.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.header-page {
    
    
    @media screen and (max-width: 767px) {
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 80px;
    }

    @media screen and (min-width: 768px) {
        padding: 15px 0;
    }
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 134px;
    height: 28px;
}

.menu-container {
    &.is-open {
        display: block;
    }

    &.is-open body {
        overflow: hidden;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 5000px;
        flex-direction: column;
        background: #fff;
        display: none;
    }
}

.header-menu {
    
    @media screen and (min-width: 768px) {
        margin-left: 88px;
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }

    @media screen and (max-width: 767px) {
        margin-top: 48px;
        text-align: left;
        padding-left: 40px;
    }
}

.menu-item {

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
                margin-right: 51px;
            }
    }

    @media screen and (max-width: 767px) {
        margin: 0;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        
    }
}

.menu-link {
    color: $title-color;
    padding: 15px 0;

    &:hover {
        color: $accent-color;
    }

    @media screen and (max-width: 767px) {
        color: $title-color;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
}

.header-contacts {
    margin-left: auto;

    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
    

    @media screen and (max-width: 767px) {
        margin-top: 40px;
        margin-left: 40px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.contacts-item {
    
    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 10px;
            
        }
    }
    
    @media screen and (min-width: 1200px) {

        margin-bottom: 0;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.contacts-link {
    padding: 15px 0;
    color: $title-color;
    
    &:hover {
        color: $accent-color;
    }

    &:hover .header-icon {
        fill: $accent-color;

    }

    @media screen and (max-width: 767px) {
        color: $main-color;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.68px;
    }

}

.contacts-tel {
    @media screen and (max-width: 767px) {
        font-size: 24px;
    }
}

.icon-envelope {
    width: 14px;
    height: 10px;
}

.icon-tel {
    width: 10px;
    height: 16px;
}

.header-icon {
    fill: $main-color;
    margin-right: 8px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-burger {
    display: flex;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;

    &.is-open .burger-open{
        display: none;
    }

    &.is-open .burger-close {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon-burger {
    width: 40px;
    height: 40px;
}

.burger-close {
    display: none;
}