.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 118px 0;

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }
}

.hero-title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-button {
    color: #fff;
    background: $accent-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    padding: 10px 24px;
    display: block;
    margin: 0 auto;
}

.hero-backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    visibility: none;
    opacity: 0;
    pointer-events: none;
}

.hero-backdrop.is-hidden .hero-modal {
    transform: translate(-50%, -50%) scale(0);
}

.hero-backdrop.is-hidden {
    overflow: hidden;
}

.hero-modal {
    position: absolute;
    z-index: 5;
    border-radius: 4px;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;

    // padding: 40px;
    max-width: 450px;
    box-sizing: border-box;
}

.modal-content {
    position: relative;
    padding: 40px;
    max-width: 100%;
    max-width: 370px;
}

.close-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.10);
    background: none;
    cursor: pointer;
    margin-left: auto;
    
    position: absolute;
    right: 8px;
    top: 8px;
}

.icon-close {
    width: 18px;
    height: 18px;
}

.modal-title {
    color: $title-color;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;

    margin-bottom: 12px;
}

.modal-form {
    position: relative;
    // padding: 40px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.input-wrap {
    position: relative;
    display: flex;
}

.input-wrap input {
    width: 100%;
}

.modal-form label {
    color: $main-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.modal-form label:not(:last-child) {
    margin-bottom: 4px;
}

.modal-form input {
    padding-left: 42px;
    height: 38px;

    border: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 4px;
}

.modal-form input:not(.modal-check) {
    margin-bottom: 10px;
}

.form-field:focus + .form-icon {
    fill: $accent-color;
}

.form-field:focus {
    outline: 1px solid $accent-color;
    color: $accent-color;
}

.icon-person {
    height: 12px;
    width: 12px;
}

.form-icon {
    position: absolute;
    padding: 14px 0 14px 15px;
}

.icon-phone {
    width: 13px;
    height: 13px;
}

.icon-mail {
    width: 15px;
    height: 12px;
}

.form-text {
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border-color: rgba(33, 33, 33, 0.2);

    &:focus {
        outline-color: $accent-color;
        color: $accent-color;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.50);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.12px;
    }
}


.form-privacy {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.modal-check {
    width: 16px;
    height: 15px;

}

.privacy-text {
    color: $main-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;

    margin-left: 8px;
}

.privacy-link {
    color: $accent-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.form-button {
    text-align: center;
}

.modal-button {
    padding: 10px 52px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
}

.header-burger {
    z-index: 1;
}